<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shathamurish.myschool2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/roundedphotologo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/photologo_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myschool2">
        <activity android:name=".Help.RegisterDonActivity"></activity>
        <activity android:name=".LevelsActivity" />
        <activity android:name=".RequirmentActivity" />
        <activity android:name=".User.Signup2Activity" />
        <activity android:name=".User.SignupActivity" />
        <activity android:name=".User.RegisteronlineActivity" />
        <activity android:name=".User.ContactusActivity" />
        <activity android:name=".User.KnowusActivity" />
        <activity android:name=".User.AcivitiesStudentActivity" />
        <activity android:name=".User.StudentActivity" />
        <activity android:name=".User.NewsActivity" />
        <activity android:name=".User.LibraryActivity" />
        <activity android:name=".Common.OnBording" />
        <activity android:name=".User.UserDashboard" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>